workflows/01-workflow-health-check/workflow.json
{
  "name": "Workflow 01 — Health Check",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4b98f851-40cf-4d5c-bee8-5bb0a04074db",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://httpbin.org/get",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "2300ea3b-b54b-44e0-ad06-8b5f2551f194",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d48323a3-4ea8-43c5-8022-61ef0e96f160",
              "name": "status",
              "value": "healthy",
              "type": "string"
            },
            {
              "id": "680e3070-8393-4b25-a495-213ad708ef0f",
              "name": "server_ip",
              "value": "={{$json.origin}}",
              "type": "string"
            },
            {
              "id": "3db3e8e3-ce56-4f05-ac80-6fffce65de4d",
              "name": "target",
              "value": "={{$json.url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "caca39dc-ff34-45d4-b46a-7aef93b83375",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d547418-58cf-4508-b573-54b919bda440",
              "leftValue": "={{ $json.status }}",
              "rightValue": "healthy",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        0
      ],
      "id": "5cfc895c-0642-4739-9463-cc269d640c4c",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n \"message\":\"Service Healthy\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -96
      ],
      "id": "43813ecf-5014-4cd6-9b02-5a8f734421c5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n \"message\":\"Service Down\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        96
      ],
      "id": "00ddee0e-9a52-4a33-b96b-aaea09879150",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "95f2b648-223c-4b47-9e85-fb6dfb9d99d6",
  "meta": {
    "instanceId": "76fd985ca58fd442aad5f22fd191f7d2942d9bdd6357e492cc75e944b25ce0df"
  },
  "id": "YEEExh8oLDItCjWw",
  "tags": []
}